.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}

.card .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .footer div {
    display: inline-block;
}

.card .stats {
    color: #0ba89b;
    font-weight: 300;
}

.card .numbers {
    font-size: 2.2rem;
    text-align: right;
}

.card .numbers p {
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.4em;
}

.card .icon-big {

    font-size: 3em;
    min-height: 64px;
}
.discount {
    margin-left: 50px;
    color: #3ac7cc;
}

.left{
    float: left;
    display: flex;
}

.dxbs-fl .row {
    margin-left: 0;
    margin-right: 0;
}

.dxbs-cardview{
    display: table;
    width: 100%;
}

.panel{
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 4px;
    
}

.tata-panelApproved{
    background-color: rgb(200, 231, 207);
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.tata-panel{
    margin-bottom: 3px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-fanel{
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    
}

.panel-default{
    border-color: #ddd;
}

.panel-primary {
    border-color: #337ab7;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dxbs-cardview .dxbs-content {
    padding: 1em 0.5em 0;
    margin-left: 0;
    margin-right: 0;
}

.dxbs-cardview .dxbs-content > div {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dxbs-content {
    padding: 1em 0.5em 0;
    margin-left: 0;
    margin-right: 0;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.dxbs-cardview > .panel > .panel:first-child, .dxbs-cardview > .panel > .panel-heading + .panel {
    border-top: 0;
}

.dxbs-cardview > .panel > .panel:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.dxbs-cardview > .panel > .panel {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
    box-shadow: none;
}

.reservation-profile{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;
    margin: 20px;
}

/*CSS ZA PAGINACIJU I KREIRANJE REZERVACIJE NA PROFILU  */

.btn-primary {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.page-link {
    position: relative;
    display: block;
    color: #337ab7 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #b3caec !important;
    border-color: #0d6efd !important;
}

.icon-success {
    color: #489e6f;
}

.icon-process {
    color: #9699a1;
}

.platinum{
    color:#b9f2ff
}

.gold{
    color:#FFD700;
}

.silver{
    color:#C0C0C0
}

