.content{
    max-width: 1600px;
    height: 100%;
    width: 100%;
    
}

.skypark-title{
    color: #8eded6;
    font-family: "Archivo Black", Sans-serif;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
}

.skypark-subtitle{
    color: #0a0707;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 1.7px;
    text-align: center;
}

.skypark-sub-subtitle{
    color: #0a0707;
    font-family: "Allura", Sans-serif;
    text-align: center;
}

.margin-clear{

    margin: 0;
}

.test{
    margin: 10px auto 0 auto;
    
}

.hr{
    color: darkcyan;
}