.content{
    max-width: 1600px;
    height: 100%;
    width: 100%;
    
}

.skypark-title{
    color: #8eded6;
    font-family: "Archivo Black", Sans-serif;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
}

.skypark-subtitle{
    color: #0a0707;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 1.7px;
    text-align: center;
}

.skypark-sub-subtitle{
    color: #0a0707;
    font-family: "Allura", Sans-serif;
    text-align: center;
}

.margin-clear{

    margin: 0;
}

.text-center{
    text-align: center;
}

.test{
    /* margin: 10px auto 0 auto; */
    
}

.hr{
    color: darkcyan;
}

.platinum{
    color:#b9f2ff
}

.gold{
    color:#FFD700;
}

.silver{
    color:#C0C0C0
}

.map-container{

    width: 100%;
    height: 30vh;
}

.next-icon{
    width: 5rem;
    height: 5rem;
}

.container-inner-two{
    background-color: whitesmoke;
    margin-top: 20px;
    max-width: 1000px;
}

.ex1 {
    width: 1500px;
    margin: auto;
    border-top: 5px solid #0ba5aa;
  }

  
.ex2 {
    max-width: 1320px;
    margin-top: 20px;
    background-color: white;
    z-index: -1;
  }

  .leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }